h1{
    font-size: 48px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h2{
    font-size: 36px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h3{
    font-size: 24px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h4{
    font-size: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h5{
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h6{
    font-size: 16px;
    font-family: Georgia, serif;
}
body{
    font-size: 18px;
    font-family: Georgia, serif;
    background-color: #cee0f0;
    /*93abc0*/
}
.menu-font-xl{
    font-size: 48px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.menu-font-sm{
    font-size: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.special-font{
    font-family: 'Damion';
    font-size: 22px;
}
.special-font-xl{
    font-family: 'Damion';
    font-size: 48px;
}
.special-font-xxl{
    font-family: 'Damion';
    font-size: 58px;
}
small{
    font-family: Georgia, serif;
}
blockquote{
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: italic;
}
.ta{
    width: 150px;
    height: 150px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.pri{
    background-color: #35638A;
    color:white;
}
.sec{
    background-color: #4ecdc4;
}
.res{
    background-color: #ffe66d;
}
.mybgo{
    background-color: #95b0b5;
}
.ex1{
    background-color: #ff6b6b;
}
.ex2{
    background-color: #dc8eaa;
}
.color{
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.imga-post-prev{
    background-size: cover;
}
.logo-tamaño{
    height:50px; 
    height:50px;
}
@media (max-width: 991px) {
    .navbar-nav {
        padding-left: 30px ;
    }
    /*
    .col-12{
        padding-left: 0.45rem;
        padding-right:0;
    }*/
    .logo-tamaño{
        height:25px; 
        height:25px;
    }
}

.bg-commnets:nth-child(even){
    background-color: white;
}
.bg-commnets:nth-child(odd) {
    background-color: lightgrey;
}



.navbar-dark .navbar-toggler {
    color: rgb(255 255 255);
    border-color: rgb(255 255 255);
}


/*Estilos pra bontatne floatant*/
.cmn-divfloat {
    position: fixed !important;
    bottom: 45px;
    right: 5px;
}
.cmn-btncircle {
    width: 45px !important;
    height: 45px !important;
    padding: 2px 0px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
}

.myhr{
    margin-top: 0px;
    margin-bottom: 0.25rem;
}
.body-post-fixed  img{
    max-width: 10rem !important;
    max-height: 10rem !important;
}